header {
    background-image: url("../imgs/wallpaper.jfif");
    background-size: cover;
    background-position: 100% 33%;
    background-color: #2cc9e9e0;
    background-blend-mode: overlay;
    border-bottom: 5px solid #ef2d2dc7;
    height: 67px;
}

.logo {
    width: 90px;
    position: absolute;
    margin-left: -45px;
    left: 50%;
    top: 15px;
}

main {
    margin-top: 112px;
    margin-bottom: 80px;
}

main h2 {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main h2 span {
    background: url('../icons/bx-child.svg');
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.card {
    margin-bottom: 40px;
}

footer {
    background-image: url("../imgs/wallpaper.jfif");
    background-size: cover;
    background-position: 100% 33%;
    background-color: #ef2d2dc7;
    background-blend-mode: overlay;
    border-top: 5px solid #2cc9e9e0;
    padding-top: 5px;
    height: 53px;
}